absl-py==0.11.0
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==1.5.0
bokeh==2.2.3
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
contextvars==2.4
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.14
dask==2.30.0
dataclasses==0.8
decorator==4.4.2
deepcut==0.7.0.0
defusedxml==0.6.0
distributed==2.30.1
emoji==0.6.0
entrypoints==0.3
fsspec==0.8.4
future==0.18.2
gast==0.2.2
gensim==3.8.3
GetOldTweets3==0.0.11
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.15
grpcio==1.33.2
h5py==2.10.0
HeapDict==1.0.1
html5lib==0.9999999
idna==2.10
immutables==0.14
importlib-metadata==3.1.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1604322572980/work
locket==0.2.0
lxml==4.6.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==2.2.2
mistune==0.8.4
msgpack==1.0.0
munkres==1.1.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.5
notebook==6.1.5
numpy @ file:///D:/bld/numpy_1604946136447/work
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum==3.3.0
packaging==20.4
pandas @ file:///D:/bld/pandas_1604166721304/work
pandocfilters==1.4.3
parso==0.7.1
partd==1.1.0
pathlib==1.0.1
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1604749014518/work
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.2
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyquery==1.4.1
pyrsistent==0.17.3
PySocks==1.7.1
pythainlp==2.2.5
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
pywin32==300
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
regex==2020.2.20
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn @ file:///D:/bld/scikit-learn_1605985912536/work
scipy @ file:///C:/bld/scipy_1604304921754/work
seaborn==0.11.0
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
sklearn-crfsuite==0.3.6
smart-open==4.0.0
sortedcontainers==2.3.0
tabulate==0.8.7
tblib==1.7.0
tensorboard==2.1.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==1.14.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tinydb==4.3.0
toolz==0.11.1
torch==1.7.0+cu110
tornado @ file:///D:/bld/tornado_1604105157725/work
tqdm==4.52.0
traitlets==5.0.5
tweepy==3.9.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wordcloud==1.5.0
wrapt==1.12.1
zict==2.0.0
zipp==3.4.0